[submodule "strategy1_portfolio_rebalancing"]
	path = strategy1_portfolio_rebalancing
	url = https://github.com/muykhenglong/strategy1_portfolio_rebalancing
[submodule "technical-indicator-investing-strategy"]
	path = technical-indicator-investing-strategy
	url = https://github.com/muykhenglong/strategy2_intraday_resistance_breakout
[submodule "strategy2_intraday_resistance_breakout"]
	path = strategy2_intraday_resistance_breakout
	url = https://github.com/muykhenglong/strategy2_intraday_resistance_breakout
[submodule "strategy3_intraday_renko_obv"]
	path = strategy3_intraday_renko_obv
	url = https://github.com/muykhenglong/strategy3_intraday_renko_obv
[submodule "strategy4_intraday_renko_macd"]
	path = strategy4_intraday_renko_macd
	url = https://github.com/muykhenglong/strategy4_intraday_renko_macd
